.main {
  display:flex;
  flex-direction: column;  
  align-items: flex-start;
  width:100%;
  height:100dvh; 
  }

.logo {
  height: 10dvh;
  width: 100%;
  display: flex;
}

.logo-kate {
  flex: 4;
  

  /* temporary  */
  display: flex;
  align-items: center;
  padding-left: 15px;
  font-size: 20px;
  color: azure;
  /* end of temporary */
}

.hamburger-menu {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: rgb(61, 28, 18);
}

.computer-colours {
  height:10dvh; 
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;  
  justify-content: center;
  gap:10px;
}

.computer-colour, .resign-button  {
  background-color: rgb(207, 193, 67);
  height: 80%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.resign-button {
  flex-wrap: wrap;
  font-size: 16px;
}

.my-colours {
  display: flex;
  flex-direction: column;
}

.my-row {
  
  width:100%;
  height:10dvh;
  display: flex;
  flex-direction: row; 
  align-items: center;
  justify-content: center;
  gap:10px;
}

.my-colour, .evaluation {
  height: 80%;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.my-colour {
  box-sizing: border-box;
  border: 1px white solid;
  border-radius: 50%;
}

.evaluation {
  display: flex;
  flex-direction: column;
}

.eval-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50%;
  width: 100%;

}

.eval {
  background-color: black;
  height:55%;
  border-radius: 50%;
  aspect-ratio: 1/1;
}

.colour-picker {
  width:100%;
  display: flex;
}

.colour-picker-colours {
  flex: 3;
  height:20dvh;
  display: flex;
  flex-direction: column;
}

.colour-picker-confirm {
  flex: 1;
  height:20dvh; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirm-button {
  background-color: rgb(61, 28, 18);
  height:95%;
  width:90%;
  border-radius:15%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bolder;
  color: aliceblue;
}

.colour-picker-colours-row {
  height:10dvh; 
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap:5px;
}

.colour-picker-choose {
  height:90%;
  flex: 1;
  border-radius: 25%;
  border: 2px rgb(61, 28, 18) solid;
}

#js_red {
  background-color: red;
  
}

#js_green {
  background-color: green;
}

#js_blue {
  background-color: blue;
}

#js_yellow {
  background-color: yellow;
}

#js_white {
  background-color: white;
}

#js_black {
  background-color: black;
}
/*
#js_myRow6, #js_myRow5, #js_myRow4, #js_myRow3, #js_myRow2   {
  display: none;
}
*/