.main {
  display:flex;
  flex-direction: column;  
  align-items: flex-start;
  width:100%;
  height:100dvh; 
  }

.logo {
  height: 10dvh;
  width: 100%;
  display: flex;
}

img {
  height: 80%;
}

.logo-kate {
  flex: 2;
  /**/
  display: flex;
  align-items: center;
  padding-left: 15px;
  font-size: 30px;
  color: aliceblue;
  /**/
}

.notification-tab {
  margin: 5px;
  height: 95%;
  width: 95%;
  border-radius: 8%;
  background-color: rgb(184, 31, 31);
  color:beige;
  flex: 3;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  font-weight: bolder;
}

.notify-tab-row {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#notify-line1 {
  align-items: flex-end;
}

#notify-line2 {
  align-items: flex-start;
}

.computer-colours {
  height:10dvh; 
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;  
  justify-content: center;
  gap:10px;
  
}

#computer-colours-border {
  border-bottom: 1px white solid;
}

.computer-colour, .resign-button  {
  background-color: rgb(207, 193, 67);
  height: 80%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.resign-button {
  border: 1px rgb(207, 193, 67) solid;
  background-color: rgb(61, 28, 18);
  color: rgb(207, 193, 67);
  flex-wrap: wrap;
  font-size: 16px;
}

.my-colours {
  display: flex;
  flex-direction: column;
  width:100%;
  
}

.my-row {
  width:100%;
  height:10dvh;
  display: flex;
  flex-direction: row; 
  align-items: center;
  justify-content: center;
  gap:10px;
}

.my-colour, .evaluation {
  height: 80%;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.my-colour {
  box-sizing: border-box;
  border: 1px white solid;
  border-radius: 50%;
}

.evaluation {
  display: flex;
  flex-direction: column;
}

.eval-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50%;
  width: 100%;

}

.eval {
  background-color: rgb(104, 53, 38);
  height:55%;
  border-radius: 50%;
  aspect-ratio: 1/1;
}

#colour-picker {
  width:100%;
  display: flex;
}

.colour-picker-colours {
  flex: 3;
  height:20dvh;
  display: flex;
  flex-direction: column;
}

.colour-picker-confirm {
  flex: 1;
  height:20dvh; 
  display: flex;
  justify-content: center;
  align-items: center;
}

#confirm-button {
  background-color: rgb(61, 28, 18);
  border: 2px rgb(145, 145, 145) solid;
  height:95%;
  width:90%;
  border-radius:15%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bolder;
  color: rgb(104, 53, 38);
}

#confirm-button:active {
  border: 2px white solid;
}

.colour-picker-colours-row {
  padding-left:2px;
  height:10dvh; 
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap:5px;
}

.colour-picker-choose {
  height:90%;
  flex: 1;
  border-radius: 25%;
  border: 2px rgb(61, 28, 18) solid;
}

#js_red {
  background-color: red;
}

#js_green {
  background-color: green;
}

#js_blue {
  background-color: blue;
}

#js_yellow {
  background-color: yellow;
}

#js_white {
  background-color: white;
}

#js_black {
  background-color: black;
}

#js_red:active, #js_green:active, #js_blue:active, #js_yellow:active, #js_white:active, #js_black:active {
  box-sizing: border-box;
  border: 2px white solid;
}

#final-screen {
  box-sizing: border-box;
  border: 3px rgb(61, 28, 18) solid;
  background-color: rgb(61, 28, 18);
  color: rgb(228, 228, 103);
  border-radius: 5px;
  height:20dvh;
  width:100%;
  display: none;
  flex-direction: column;
}

.final-row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 100%;
  font-size: 20px;

}

#final-row1 {
  display: flex;
  align-items: flex-end;
}

#final-row2 {
  display: flex;
  align-items: flex-start;
}

#resign-or-not {
  box-sizing: border-box;
  border: 3px rgb(61, 28, 18) solid;
  background-color: rgb(61, 28, 18);
  color: rgb(228, 228, 103);
  border-radius: 5px;
  height:20dvh;
  width:100%;
  display: none;
  flex-direction: column;
}

.resign-or-not-row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 100%;
  font-size: 20px;
}

.resign-options {
  width: 50%;
  height: 100%;
  border-radius: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0 10px 5px 10px;
}

#resign-yes {
  background-color: red;
}

#resign-no {
  background-color: green;
}

#instructions {
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  height: 42dvh;
  font-size: 20px;
  color: rgb(233, 118, 65);
  display: none;
  flex-direction: column;
  justify-content: space-around;
}

.instruction-text {
  display: flex;
  justify-content: center;
}